mixin burgerBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('2', '222', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('3', '345', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('4', '250', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('5', '312', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '6,00', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('6', '370', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы', '11,39', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])

mixin sandwichBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('222', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('345', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('250', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('312', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '6,00', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('370', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы', '11,39', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])

mixin snacksBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('270 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [ './../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('222 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])

mixin sauseBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('270 гр', './../images/dishes/sause_1.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('222 гр', './../images/dishes/sause_2.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/sause_3.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/sause_4.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])

mixin sweetsBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('270 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('222 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])

mixin drinksBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('270 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('222 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])

mixin breakfastBlock (dish, types)
    .dishes-block
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-4.col-xl-3
                +dishCard('270 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('222 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])
            .col-12.col-md-4.col-xl-3
                +dishCard('345 гр', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99 p.', [])

mixin dishCard (id, weight, srcImg, title, desc, price, typeArray)
    .dishes-card(data-id=id data-src=srcImg data-title=title data-price=price)
        .dishes-card-top
            .dishes-card-weight
                p=weight
            .dishes-card-type
                each type in typeArray
                  img(src=type)
        .dishes-card-img
            img(src=srcImg alt=title)
        .dishes-card-text
            .dishes-card-title
                h4=title
            .dishes-card-desc
                p=desc
        .dishes-card-price
            .dishes-card-price-left
                h4=price
            .dishes-card-price-right
                .dishes-card-counter
                    .dishes-card-counter-minus
                        span -
                    .dishes-card-counter-count
                        span 1
                    .dishes-card-counter-plus
                        span +
        .dishes-card-button В корзину

mixin cartItem (id, imgSrc, title, count, price)
    .cart-item
        .cart-item-img
            img(src=imgSrc)
        .cart-item-title
            p=title
        .cart-item-counter
            .dishes-card-counter
                .dishes-card-counter-minus
                    span -
                .dishes-card-counter-count
                    span 1
                .dishes-card-counter-plus
                    span +
        .cart-item-price
            p=price
        .cart-item-close
            img(src='./../images/cart/item-close.svg')

mixin cartBigItem (id, imgSrc, title, desc, weight, count, price)
    .cart-item
        .cart-item-img
            img(src=imgSrc)
        .cart-item-title
            .cart-item-title-title
                p=title
            .cart-item-title-desc
                p=desc
        .cart-item-weight
            p=weight
        .cart-item-counter
            .dishes-card-counter
                .dishes-card-counter-minus
                    span -
                .dishes-card-counter-count
                    span 1
                .dishes-card-counter-plus
                    span +
        .cart-item-price
            p=price
        .cart-item-close
            img(src='./../images/cart/item-close.svg')

mixin sauseBlock (id, imgSrc, title, price)
    .sause-block
        .sause-block-img
            img(src=imgSrc, alt=title)
        .sause-block-desc
            .sause-block-title
                p=title
            .sause-block-price
                p=price
        .sause-block-button.my-button
            span Добавить
    

