mixin burgerBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#burger
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('2', '222', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('3', '345', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '8,99', [])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('4', '250', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('5', '312', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '6,00', [])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('6', '370', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы', '11,39', ['./../images/dishes/veg.svg', './../images/dishes/spice.svg'])

mixin sandwichBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#sandwich
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])

mixin snacksBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#snacks
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', ['./../images/dishes/spice.svg'])

mixin sauseBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#sause
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/sause_1.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/sause_2.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/sause_3.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/sause_1.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])

mixin sweetsBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#sweets
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])

mixin drinksBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#drinks
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])

mixin breakfastBlock (dish, types)
    .dishes-block
        .dishes-block-anchor#breakfast
        .row
            .col
                .dishes-title
                    h3=dish
                    each val in types
                        .dishes-title-type
                            .dishes-title-img
                                img(src=val.url alt=val.name)
                            .dishes-title-text=val.name
        .row
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])
            .col-12.col-md-6.col-lg-4.col-xl-3
                +dishCard('1', '270', './../images/dishes/burger.png', 'Гриль чизбургер', 'Котлета из 100% говядины, сыр чеддер маринованные огурцы, жареный сыр, фирменный соус (Yum Yum), американская горчица, булка', '7,39', [ './../images/dishes/spice.svg'])

mixin dishCard (id, weight, srcImg, title, desc, price, typeArray)
    .dishes-card(data-id=id data-src=srcImg data-title=title data-price=price)
        .dishes-card-top
            .dishes-card-weight
                p=weight
            .dishes-card-type
                each type in typeArray
                  img(src=type)
        .dishes-card-desc-wrapper
            .dishes-card-img
                img(src=srcImg alt=title)
            .dishes-card-text
                .dishes-card-title
                    h4=title
                .dishes-card-desc
                    p=desc
        .dishes-card-price
            .dishes-card-price-left
                h4=price
            .dishes-card-price-right
                .dishes-card-counter
                    .dishes-card-counter-minus
                        span -
                    .dishes-card-counter-count
                        span 1
                    .dishes-card-counter-plus
                        span +
        .dishes-card-button В корзину

mixin sauseCard (id, weight, srcImg, title, desc, price, typeArray)
    .dishes-card.sause(data-id=id data-src=srcImg data-title=title data-price=price)
        .dishes-card-top
            .dishes-card-weight
                p=weight
            .dishes-card-type
                each type in typeArray
                    img(src=type)
        .dishes-card-desc-wrapper
            .dishes-card-img
                img(src=srcImg alt=title)
            .dishes-card-text
                .dishes-card-title
                    h4=title
                .dishes-card-desc
                    p=desc
        .dishes-card-price
            .dishes-card-price-left
                h4=price
            .dishes-card-price-right
                .dishes-card-counter
                    .dishes-card-counter-minus
                        span -
                    .dishes-card-counter-count
                        span 1
                    .dishes-card-counter-plus
                        span +
        .dishes-card-button В корзину

mixin cartItem (id, imgSrc, title, count, price)
    .cart-item
        .cart-item-top
            .cart-item-img
                img(src=imgSrc)
            .cart-item-title
                p=title
        .cart-item-bottom
            .cart-item-counter
                .dishes-card-counter
                    .dishes-card-counter-minus
                        span -
                    .dishes-card-counter-count
                        span 1
                    .dishes-card-counter-plus
                        span +
            .cart-item-price
                p=price
        .cart-item-close
            img(src='./../images/cart/item-close.svg')

mixin cartBigItem (id, imgSrc, title, desc, weight, count, price)
    .cart-item
        .cart-item-img
            img(src=imgSrc)
        .cart-item-body
            .cart-item-title
                .cart-item-title-title
                    p=title
                .cart-item-weight-mobile.desktop-hide
                    p=weight
                .cart-item-title-desc
                    p=desc
            .cart-item-weight.mobile-hide
                p=weight
            .cart-item-counter-wrapper
                .cart-item-counter
                    .dishes-card-counter
                        .dishes-card-counter-minus
                            span -
                        .dishes-card-counter-count
                            span 1
                        .dishes-card-counter-plus
                            span +
                .cart-item-price
                    p=price
        .cart-item-close
            img(src='./../images/cart/item-close.svg')

mixin sauseBlockOrder (id, imgSrc, title, price)
    .sause-block
        .sause-block-img
            img(src=imgSrc, alt=title)
        .sause-block-desc
            .sause-block-title
                p=title
            .sause-block-price
                p=price
        .sause-block-button.my-button
            span Добавить
    

mixin promoItem (isButton, imgSrc, title, text, buttonText)
    .col-12.col-lg-6
        .promo-item
            .promo-item-top
                .promo-item-img
                    img(src=imgSrc alt=title)
            .promo-item-bottom
                .promo-item-desc
                    .promo-item-title
                       p=title
                    .promo-item-text
                        p=text
                if isButton
                    .promo-item-button.my-button
                        span=buttonText

mixin jobItem (title, textArray)
    .job-item
        .job-item-top
            .job-item-title
                p=title
            .job-item-arrow
                img(src='./../images/job/arrow.svg')
        .job-item-bottom
            each subText in textArray
                .job-item-bottom-block
                    p.job-item-bottom-title=subText.subtitle
                    each item in subText.items
                        p.job-item-bottom-text=item



